
                
                <!--loop starts-->
                                
                    <div class="menu_first_level">
                        <a href="javascript:void(0);" class="menu_first_level_a" name="000001" title="Dashboard">Dashboard</a>
                        
                                                
                    </div>
                
                                
                    <div class="menu_first_level">
                        <a href="javascript:void(0);" class="menu_first_level_a" name="000002" title="Expense Mngt.">Expense Mngt.</a>
                        
                                                        
                                                        
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="7" title="Real Expense Journal">Real Expense Journal</a>
                                </div><div class="menu_second_level" style="display: none;">
                                    <a href="javascript:void(0);" name="4" title="Budget Comparing Detailed View">Budget Comparing Detailed View</a>
                                </div><div class="menu_second_level" style="display: none;">
                                    <a href="javascript:void(0);" name="1" title="Budget Expense Planning">Budget Expense Planning</a>
                                </div>
                                                        <div class="menu_second_level" style="display: none;">
                                    <a href="javascript:void(0);" name="3" title="Budget Comparing Spread Sheet">Budget Comparing Spread Sheet</a>
                                </div>
                                                        <div class="menu_second_level" style="display: none;">
                                    <a href="javascript:void(0);" name="5" title="Budget Comparing Summary">Budget Comparing Summary</a>
                                </div>
                                                        <div class="menu_second_level" style="display: none;">
                                    <a href="javascript:void(0);" name="6" title="Total Cost Report">Total Cost Report</a>
                                </div>
                                                        <div class="menu_second_level" style="display: none;">
                                    <a href="javascript:void(0);" name="2" title="User Logs Report">User Logs Report</a>
                                </div>
                                                
                    </div>
                
                                
                    <div class="menu_first_level">
                        <a href="javascript:void(0);" class="menu_first_level_a" name="000003" title="Stock Mngt.">Stock Mngt.</a>
                        
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="8" title="Category Management">Category Management</a>
                                </div>
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="13" title="Statistic">Statistic</a>
                                </div>
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="14" title="Incident Report">Incident Report</a>
                                </div>
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="15" title="Assigned IP Management">Assigned IP Management</a>
                                </div>
                                                
                    </div>
                
                                
                    <div class="menu_first_level">
                        <a href="javascript:void(0);" class="menu_first_level_a" name="000004" title="Hr Mngt.">Hr Mngt.</a>
                        
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="16" title="Employee">Employee</a>
                                </div>
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="17" title="Department">Department</a>
                                </div>
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="18" title="Position">Position</a>
                                </div>
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="19" title="Statistics">Statistics</a>
                                </div>
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="20" title="Seat Plan">Seat Plan</a>
                                </div>
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="21" title="Leave/Tardiness">Leave/Tardiness</a>
                                </div>
                                                
                    </div>
                
                                
                    <div class="menu_first_level">
                        <a href="javascript:void(0);" class="menu_first_level_a" name="000005" title="Settings">Settings</a>
                        
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="22" title="Menu">Menu</a>
                                </div>
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="23" title="User">User</a>
                                </div>
                                             
                                                        <div class="menu_second_level">
                                    <a href="javascript:void(0);" name="24" title="User Activities">User Activities</a>
                                </div>
                                                
                    </div>
                
                                <!--loop ends-->
                
