
<div id="main_wrap">

    <div id="form-login" class="ui-corner-all">
        <div id="logo_wrap"><h1 id="logo" class="fl fnt" ></h1></div>
        <div id="message_wrap"></div><br />
        <form method="POST" id="login_form">
        
            <div>
                <label for="Username">Username</label>
                <input id="user_login" type="text" name="username" class="ui-corner-all txtbox" >	
            </div>
            
            <div>
                <label for="Password">Password&nbsp;</label>	
                <input id="user_pass" type="password" name="password" class="ui-corner-all txtbox" >	
            </div>
            
            <div class="button fr">
                <a href="javascript:void(0)" class="btn btn_type_3"><span>&nbsp;Log in&nbsp;&raquo;</span></a>
            </div>
            
            <div class="button fl" id="link_forgot_pass" >
            <!--
                <input type="checkbox" name="remember_me" id="remember_me" /><label for="remember_me"  class="link_1 mr10" style="text-decoration:none;margin-left:10px;font-size:12px" > Remember me</label>
            <a href="" class="mr10 link_1" style="font-size:11px;">Forgot your username and password?</a>-->
            </div>
            
        </form>                        
        
    </div>
    <center><strong><p>© Simplex Internet Philippines | All Rights Reserved 2012.</p></strong></center>
</div>


